body{
    margin:0;
    padding: 0;
    background: white;
}
.titulo h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2,9em; 
    }
.name{
    width: auto;
    height: auto;
    background: white;
}

.info{
    width: 300px;
    height: 865px;
    background:rgba(0, 0, 255, 0.753);
    float: left;
    margin-left: 20%;
}

.info img{
    width: 60%;
    height: 25%;
    margin: 10% 0% 0% 17%;
    
}
.info h4
{
    
    text-align: center;
    color: white;
     margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.info p{
    text-align: left;
    color: white;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
.otros{
    width: 600px;
    height: 865px;
    background:rgba(128, 128, 128, 0.185);
    float: right;
    margin-right: 13.2%;
}
.otros h3{

    background: rgba(128, 128, 128, 0.589);
    width: auto;
    height: 5%;
    text-align: center;
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}
h3{
    color: white;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    border-radius: 10%;
}
h2{
    background-color: rgba(128, 128, 128, 0.685);
    margin:10px 160px 10px 160px;
}
.otros p{
    font-family: 'Times New Roman', Times, serif;
    font-size:95%;
    color:black;
    text-align: left;
    margin-left: 20%;
}
h5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    margin-top: -1%;
    
}
.boton{
    text-align: center;
   margin-left: 80%;

   color: black;
}
.boton2{
    text-align: center;
   margin-right: 70%;
   color: black;
}